In [1]:
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report

In [2]:
spam = pd.read_csv('Spam.csv',encoding = 'latin-1')
spam.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [30]:
list (spam)

['v1', 'v2', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4']

In [6]:
spam.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [7]:
spam.rename(columns = {'v1':'Status', 'v2':'Email'} , inplace = True)

In [8]:
spam.columns

Index(['Status', 'Email', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], dtype='object')

In [9]:
spam.drop (['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], axis = 1 , inplace = True)

In [10]:
spam.columns

Index(['Status', 'Email'], dtype='object')

In [11]:
spam.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
Status    5572 non-null object
Email     5572 non-null object
dtypes: object(2)
memory usage: 87.1+ KB

In [39]:
spam.head()

  Status                                              Email
0    ham  Go until jurong point, crazy.. Available only ...
1    ham                      Ok lar... Joking wif u oni...
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...
3    ham  U dun say so early hor... U c already then say...
4    ham  Nah I don't think he goes to usf, he lives aro...

In [40]:
spam

In [23]:
spam.loc [spam['Status'] == 'spam' , 'Status'] = 0
spam.loc [spam['Status'] == 'ham' , 'Status'] = 1

In [13]:
spam.head()

  Status                                              Email
0    ham  Go until jurong point, crazy.. Available only ...
1    ham                      Ok lar... Joking wif u oni...
2      0  Free entry in 2 a wkly comp to win FA Cup fina...
3    ham  U dun say so early hor... U c already then say...
4    ham  Nah I don't think he goes to usf, he lives aro...

In [24]:
spam_x = spam['Email']
spam_y = spam['Status']

In [25]:
cv = CountVectorizer()
x_train , x_test , y_train , y_test = train_test_split( spam_x , spam_y , test_size = 0.2)
y_train

4949    1
1832    1
4530    1
4787    1
1670    1
5077    0
2703    1
3448    1
4300    1
1442    1
4448    0
3226    1
3921    1
5450    1
5456    0
84      1
4834    1
4902    1
4645    0
381     1
3804    1
3691    1
1094    1
965     1
331     1
660     1
4388    1
1192    1
1873    0
1631    1
       ..
4853    1
2632    1
1565    1
5327    1
405     1
4543    1
248     1
455     1
1392    1
1907    1
841     1
3591    1
2097    1
3625    1
758     1
3943    1
5329    1
630     1
2937    1
3835    1
5358    1
2667    1
5316    1
5331    1
1947    1
761     1
3349    1
3030    1
1814    1
1138    1
Name: Status, Length: 4457, dtype: object

In [49]:
len(x_train)

4457

In [50]:
len(x_test)

1115

In [51]:
4457+1115

5572

In [26]:
x_traincv = cv.fit_transform (x_train)

In [27]:
x_traincv.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [32]:
y_train = y_train.astype('str')

In [33]:
x_testcv = cv.transform(x_test)

In [34]:
model = MultinomialNB()
model.fit(x_traincv, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [35]:
pred = model.predict(x_testcv)

In [36]:
pred

array(['1', '0', '1', ..., '1', '1', '1'], dtype='<U1')

In [45]:
y_test = y_test.astype('str')
print('Accuracy Score :', accuracy_score(pred, y_test))

Accuracy Score : 0.9820627802690582

In [46]:
td = TfidfVectorizer(min_df = 1)

In [47]:
x_traintd = td.fit_transform (x_train)
x_traintd.toarray()

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [48]:
x_testtd = td.transform(x_test)

In [49]:
perdtd = model.predict(x_testtd)

In [50]:
print('Accuracy Score : ', accuracy_score(perdtd, y_test))

Accuracy Score :  0.9829596412556054

In [51]:
classification_report(y_test, perdtd)

'              precision    recall  f1-score   support\n\n           0       1.00      0.89      0.94       168\n           1       0.98      1.00      0.99       947\n\n    accuracy                           0.98      1115\n   macro avg       0.99      0.94      0.97      1115\nweighted avg       0.98      0.98      0.98      1115\n'